html {
    font-size: 16px;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #082B43;
}

main{
    width: 100%;
    background-image: linear-gradient(to bottom , $color-primario, $color-cuarto);
}