@font-face { 
    font-family: 'Montserrat'; 
    src: url("../../font/montserrat/static/Montserrat-Black.ttf");
    font-weight: bold;
    font-style: bold;
} 

@font-face { 
    font-family: 'Montserrat'; 
    src: url("../../font/montserrat/static/Montserrat-Medium.ttf");
    font-weight: normal;
    font-style: normal;
} 