@font-face {
  font-family: "Montserrat";
  src: url("../../font/montserrat/static/Montserrat-Black.ttf");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../font/montserrat/static/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
/*Paleta de colores*/
/*Color tipografia*/
/*Breackpoints*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #082B43;
}

main {
  width: 100%;
  background-image: linear-gradient(to bottom, #082B43, rgba(21, 115, 177, 0.6901960784));
}

.banner {
  width: 100%;
  background-color: #082B43;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.img1 {
  width: 150px;
  filter: drop-shadow(1px 1px 20px rgba(21, 115, 177, 0.6901960784));
}

nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
nav ul {
  padding: 10px;
  margin: 0;
  display: flex;
  list-style: none;
}
nav ul li {
  margin: 0 10px;
}
nav ul a {
  text-decoration: none;
}

main {
  width: 100%;
}

.fotoperfil {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fotoperfil img {
  width: 100%;
  padding: 3px;
}

.perfil__info {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
}
.perfil__info h1 {
  font-size: 2rem;
  text-align: left;
}
.perfil__info p {
  text-align: left;
}

.containerredes {
  display: flex;
  justify-content: space-between;
}
.containerredes i {
  font-size: 3rem;
  color: #082B43;
  letter-spacing: 0.5rem;
}

.contenedor {
  padding: 30px;
}

.conocimientos {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.conocimientos h2 {
  margin-top: 20px;
}
.conocimientos .conocimientos__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.conocimientos .caja {
  width: 250px;
  height: 250px;
}
.conocimientos .caja1, .conocimientos .caja2, .conocimientos .caja3, .conocimientos .caja4, .conocimientos .caja5, .conocimientos .caja6 {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #082B43;
  margin: 20px;
  border-radius: 10px;
}
.conocimientos .caja1 img, .conocimientos .caja2 img, .conocimientos .caja3 img, .conocimientos .caja4 img, .conocimientos .caja5 img, .conocimientos .caja6 img {
  width: 80px;
}

.proyectos {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to bottom, #082B43, rgba(21, 115, 177, 0.6901960784));
}
.proyectos h2 {
  color: #ffffff;
}

.proyectos__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 250px;
  text-align: left;
}

.contacto {
  padding: 20px;
  color: #ffffff;
}
.contacto h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form .btn {
  width: 80%;
}

footer {
  font-size: 60px;
  text-align: center;
  padding: 10px;
  background-color: #021F3E;
}
footer a {
  color: #ffffff;
}

.boton {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.boton a {
  width: 100%;
  height: auto;
  text-decoration: none;
  background-color: #082B43;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
}

.subir {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #082B43;
  position: fixed;
  right: 15px;
  bottom: 15px;
  line-height: 47px;
  border-radius: 50%;
  border: 3px solid #021F3E;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  text-align: center;
}
.subir:hover {
  transform: scale(1.5);
}

@media only screen and (max-width: 360px) {
  .banner img {
    width: 90px;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  nav ul li {
    margin: 0 10px;
    list-style: circle;
  }
  .containerredes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .containerredes i {
    font-size: 3rem;
    color: #082B43;
    letter-spacing: 1rem;
    margin: 5px;
  }
}
@media only screen and (max-width: 575px) {
  .perfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .subir {
    transition: none;
  }
  .subir:hover {
    transform: none;
  }
}
@media only screen and (min-width: 768px) {
  .perfil__info {
    order: 1;
  }
  .fotoperfil {
    order: 2;
  }
}
@media only screen and (min-width: 992px) {
  .fotoperfil {
    width: 400px;
    height: 400px;
    order: 2;
  }
  .fotoperfil img {
    width: 100%;
  }
  .perfil__info {
    width: 40%;
    order: 1;
    font-size: 1.2rem;
    margin-right: 100px;
  }
  .perfil__info h1 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    height: 75vh;
    display: flex;
    align-items: center;
  }
  .perfil__info h1 {
    font-size: 1.6rem;
  }
  .subir {
    right: 40px;
    bottom: 40px;
    line-height: 43px;
  }
}/*# sourceMappingURL=main.css.map */