.boton{
    @include sizes (auto, auto);
    @include flexbox (flex, row, center, center);

    a {
        @include sizes (100%, auto);
        text-decoration: none;
        background-color: $color-primario;
        padding: 10px 30px;
        border-radius: 5px;
        color: $color-secundario;
    }
}

.subir{
    @include sizes (50px, 50px);
    background-color: $font-color-white;
    color: $color-primario;
    position: fixed;
    right: 15px;
    bottom: 15px;
    line-height: 47px;
    border-radius: 50%;
    border: 3px solid $color-terciario;
    font-size: 40px;
    text-align: center;
}