.conocimientos{
    width: 100%;
    background-color: $color-secundario;
    text-align: center;

    h2{
        margin-top: 20px;
    }

    .conocimientos__container{
        @include flexbox (flex, row, center, center);
        flex-wrap: wrap;
    }
    .caja{
        @include sizes (250px, 250px);
    }

    .caja1, .caja2, .caja3, .caja4, .caja5, .caja6{
        @include sizes (100px, 100px);
        @include flexbox (flex, row, center, center);
        background-color: $color-primario;
        margin: 20px;
        border-radius: 10px;

        img{
            width: 80px;
        }
    }
}