.contacto{
    padding: 20px;
    color: $font-color-white;

    h2{
        text-align: center;
        margin-bottom: 30px;
    }
}

form{
    @include flexbox (flex, column, center, center);

    .btn{
        width: 80%;
    }
}