.banner{
    width: 100%;
    background-color: #082B43;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.img1{
    width: 150px;
    filter: drop-shadow(1px 1px 20px $color-cuarto);
}

@import '../components/navbar';