.banner{
    width: 100%;
    height: 200px;
    background-color: #082B43;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.img1{
    width: 150px;
    height: 150px;
}

@import '../components/navbar';