.banner{
    width: 100%;
    background-color: $color-primario;
    @include flexbox (flex, row, center, space-between);
    padding: 10px;
}

.img1{
    width: 150px;
    filter: drop-shadow(1px 1px 20px $color-cuarto);
}

@import '../components/navbar';