$extra-small-screen: 360px;
$small-screen: 575px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

@media only screen and (max-width: $extra-small-screen){
    .banner{
        img{
            width: 90px;
        }
    }
    nav{  
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li{
                margin: 0 10px;
                list-style: circle;
            }
        }
    }

    .containerredes {
        display: flex;
        flex-direction: column;
        text-align: center;
    
        i {
            font-size: 3rem;
            color: $color-primario;
            letter-spacing: 1rem;
            margin: 5px;
        }
    }
}

@media only screen and (max-width: $small-screen){

    .perfil {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .subir{
        transition: none;

        &:hover{
            transform: none;
        }
    }
}

@media only screen and (min-width: $medium){
    .perfil__info{
        order: 1;
    }
    .fotoperfil{
        order: 2;
    }
}

@media only screen and (min-width:$large){

    .perfil__info{
        width: 40%;
        order: 1;
        font-size: 1.2rem;
        margin-right: 100px;
        
        h1{
            font-size: 1.6rem;
        }
    }
    .fotoperfil{
        order: 2;
    }
}

@media only screen and (min-width:$extra-large){
    main{
        height: 75vh;
        display: flex;
        align-items: center;
    }

    .perfil__info{
        
        h1{
            font-size: 1.6rem;
        }
    }

    .subir{
        right: 40px;
        bottom: 40px;
        line-height: 43px;
    }
}