@media only screen and (max-width: $extra-small-screen){
    .banner{
        img{
            width: 90px;
        }
    }
    nav{  
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li{
                margin: 0 10px;
                list-style: circle;
            }
        }
    }

    .containerredes {
        @include flexbox (flex, column, center, space-between);
    
        i {
            font-size: 3rem;
            color: $color-primario;
            letter-spacing: 1rem;
            margin: 5px;
        }
    }
}

@media only screen and (max-width: $small-screen){

    .perfil {
        @include sizes (100%, 100%);
        @include flexbox (flex, column, center, center);
        padding: 20px;
    }
}

@media only screen and (min-width: $medium){
    .perfil__info{
        order: 1;
    }
    .fotoperfil{
        order: 2;
    }
}

@media only screen and (min-width:$large){

    .fotoperfil {
        @include sizes (400px, 400px);
        order: 2;

        img {
            width: 100%;
        }
    }
    .perfil__info{
        width: 40%;
        order: 1;
        font-size: 1.2rem;
        margin-right: 100px;
        
        h1{
            font-size: 1.6rem;
        }
    }
}

@media only screen and (min-width:$extra-large){
    main{
        height: 75vh;
        display: flex;
        align-items: center;
    }

    .perfil__info{
        
        h1{
            font-size: 1.6rem;
        }
    }

    .subir{
        right: 40px;
        bottom: 40px;
        line-height: 43px;
        transition: all .5s ease-in-out;

        &:hover{
            transform: scale(1.5);
        }
    }
}