.proyectos{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom , $color-primario, $color-cuarto);
        h2{
            color: $color-secundario;
        }
}
.proyectos__container{
    width: 100%;
    @include flexbox (flex, row, center, center);
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

}

.card{
    width: 250px;
    text-align: left;
}